body {
    margin: 0;
    background-color: rgb(47, 47, 47);
    color: rgb(201, 209, 236);
    font-size: 1rem;
    font-family: tahoma, arial, helvetica, sans-serif;
}
input {
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    padding: 0.9rem 0rem 0.9rem 0rem;
    height: 3rem;
    color: inherit;
    font-size: inherit;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(80, 81, 86);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}
a {
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    color: inherit;
}
button {
    font-size: inherit;
    background-color: inherit;
    border: none;
    color: inherit;
}
a:hover, a:active, button:hover, button:active {
    opacity: 0.8;
    cursor: pointer;
}

#photo-about-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(47, 47, 47);
    gap: 1rem;
}
#photo-about-header > h2 {
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}
#photo-about-main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#photo-about-paragraph {
    padding: 1rem;
    font-size: 1.2rem;
    max-width: 30rem;
}
#photo-about-image {
    padding: 1rem;
    max-width: 20rem;
    box-sizing: border-box;
    object-fit: scale-down;
}
#photo-about-footer {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0.9rem 0rem 0.9rem 0rem;
}
#photo-about-footer > a {
    padding: 0.9rem 0rem 0.9rem 0rem;
    height: 3rem;
    min-width: 6.5rem;
    color: inherit;
    font-size: inherit;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(83, 83, 83);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

#photo-navigate-container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(47, 47, 47);
}
#photo-navigate-boxes {
    padding: 0.9rem 0rem 0.9rem 0rem;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 1rem;
}
#photo-navigate-boxes > div > a > img {
    border-radius: 1.5rem;
    object-fit: scale-down;
    width: 15rem;
    background-color: rgb(173, 173, 173);
    padding: 0.3rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}
#photo-navigate-boxes > div > h2 {
    font-size: inherit;
    text-align: center;
    margin: 0rem;
}
@media only screen and (max-width: 45rem) {
    #photo-navigate-boxes > div > a > img { width: 10rem; }
    #photo-navigate-boxes > div > h2 { font-size: 0.9rem; }
}
@media only screen and (max-width: 35rem) {
    #photo-navigate-boxes > div > a > img { width: 7rem; }
    #photo-navigate-boxes > div > h2 { font-size: 0.7rem; }
}
#photo-navigate-header {
    display: flex;
    justify-content:center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.9rem 0rem 0.9rem 0rem;
}
#photo-navigate-header > a {
    padding: 0.9rem 0rem 0.9rem 0rem;
    height: 3rem;
    min-width: 6.5rem;
    color: inherit;
    font-size: inherit;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(83, 83, 83);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

#photo-stream {
    height: 100dvh;
}
#photo-stream-container {
    height: 100dvh;
    background-color: rgb(47, 47, 47);
    align-content: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem;
}
#photo-stream-header {
    /* height: 10%; */
    /* position: sticky; */
    box-sizing: border-box;
    padding: 0rem 1rem 1.5rem 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#photo-stream-header > a {
    padding: 0.9rem 0rem 0.9rem 0rem;
    height: 3rem;
    min-width: 6.5rem;
    color: inherit;
    font-size: inherit;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(83, 83, 83);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}
#photo-stream-header > h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.4rem;
}
#photo-stream-boxes {
    box-sizing: border-box;
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(201, 209, 236) rgb(83, 83, 83);
    scrollbar-width: thin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
#photo-stream-boxes > div {
    background-color: rgb(173, 173, 173);
    height: 10rem;
    padding: 0.3rem;
}
@media only screen and (max-width: 45rem) {
    #photo-stream-boxes > div { height: 5rem; }
    #photo-stream-header > h1 { font-size: 1rem; }
}
#photo-stream-boxes > div > a > img {
    height: 100%;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

#photo-lightbox-container {
    height: 100dvh;
    position: relative;
    background-color: rgb(28, 28, 28);
}
#photo-lightbox-img {
    height: calc(100dvh - 6rem);
    margin-top: auto;
    margin-bottom: auto;
    position: sticky;
    object-fit: contain;
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    max-height: 90%;
}
#photo-lightbox-container-nav-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.7rem 0.0rem;
}
#photo-lightbox-container-nav-box-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
#photo-lightbox-img-caption {
    position: sticky;
    color: rgb(138, 138, 138);
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
#photo-lightbox-container-nav-box-buttons > a {
    padding: 0.9rem 0rem 0.9rem 0rem;
    height: 3rem;
    min-width: 6rem;
    color: rgb(138, 138, 138);
    font-size: inherit;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

#photo-slideshow-container > img {
    height: 100dvh;
    width: 100%;
    object-fit: scale-down;
    position: absolute;
    transition: opacity 4s ease;
}
.slideshow img {
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
    will-change: opacity;
}
.slideshow img.active {
    opacity: 1;
}
